* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 10px 10% 10px 10%;
}

.news-header-container {
  background: #ff6501;
}

.news-header-links {
  padding: 5px 5px;
}

.news-header-links a {
  text-decoration: none;
  color: #fff;
  padding: 0px 5px;
  font-weight: 800;
}

.upvote-btn {
  text-decoration: none;
}

.upvote-btn img {
  width: 10px;
  height: auto;
}

.each-post {
  background-color: #f1f0e6;
}

.each-news-container * {
  display: inline-block;
  margin: 5px 5px;
  padding: 0px 2%;
}

.each-news-container button {
  text-decoration: none;
  color: #a1a1a1;
  background: none !important;
  border: none;
  padding: 0 !important;
  outline: none;
  cursor: pointer;
}
.comments-count{
  white-space: nowrap
}
.main-news-content{
  cursor: pointer;
}
.pagination-btn-container {
  height: 45px;
  background-color: #f6f6f6;
}
.pagination-btns {
  float: right;
  margin: 15px 12px 0px 0px;
}
.pagination-btns button {
  text-decoration: none;
  background: none !important;
  border: none;
  padding: 0 !important;
  outline: none;
  cursor: pointer;
}
.previous-page {
  text-transform: capitalize;
  font-weight: 800;
  color: #ff6501;
}
.btn-separator {
  color: #ff6501;
  font-weight: 800;
  margin: 0px 5px;
}
.next-page {
  text-transform: capitalize;
  font-weight: 800;
  color: #ff6501;
}
